/*
.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;   
  }

  .registration-input {
    width: 100%;
    margin-top: 15px;
  }

  .registration-form button {
    margin-top: 15px;
  }

  .error-message {
    color: var(--text-error-color)
  }

  .registration-form fieldset {
    margin-top: 15px;
  }
  */